  body {
    background-color: #22222b;
    font-family: sans-serif;
  } 

  h1{
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: goldenrod;
  }
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-pic img {
    width: 100%;
    height: auto;
  }
  
   .card-title {
    font-family: "Poetsen One", sans-serif;
    text-align: center;
  }

  .card-text{
    font-family: "Caveat", cursive;
  }

  h3{
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    font-style: normal; 
    color: goldenrod;
  }

  .paimon{
    width : 200px;
    height: 100x;
  }

